{#
# gridLayout (required) - gridLayout field
{% switch block.type %}

    {% case "ItemPhoto" %}
      {{ block.gridLink }}  Type: Entries 
      {{ block.gridImage }}  Type: Assets 
      {{ block.sizeImage }}  Type: Radio Buttons 

    {% case "itemText" %}
      {{ block.gridlink }}  Type: Entries 
      {{ block.gridTitle }}  Type: Plain Text 
      {{ block.gridParagraf }}  Type: Plain Text 

    {% default %}
#}
<div class="gridLayout" id="gallery">
  {% for block in gridLayout %}
    {% switch block.type %}
      {% case "itemPhoto" %}
        {% switch block.sizeImage.label %}
          {% case "full" %}
            <a href="{{block.gridLink.first.url()}}" class="item-masonry sizer1">
              <img width="100%"  src="{{ block.gridImage.first.url() }}" alt="">
            </a>

          {% case "large" %}
            <a href="{{block.gridLink.first.url()}}" class="item-masonry sizer2">
              <img width="100%"  src="{{ block.gridImage.first.url() }}" alt="">
            </a>

          {% case "medium" %}
            <a href="{{block.gridLink.first.url()}}" class="item-masonry sizer3">
              <img width="100%"  src="{{ block.gridImage.first.url() }}" alt="">
            </a>
        {% endswitch %}
      {% case "itemText" %}
        <a href="{{block.gridLink.first.url()}}" class="item-masonry item-masonry--text sizer3">
          <div class="item-masonry__content">
            <h3>{{block.gridTitle}}</h3>
            <p>{{block.gridParagraf}}</p>
          </div>
          <img width="100%"  src="{{ block.gridImage.first.url() }}" alt="">
        </a>
    {% endswitch %}
  {% endfor %}
</div>